// standard ///////////////////////////////////////////////////////////////////

main-lite   = #9950ff
main-mid    = #7036c6
main-dark   = #481c8e
alt         = #b941d6
aster       = #d08dff
lite        = #f2f2f2
lite-dark   = #ababab
dark-lite   = #424242
dark        = #212121

// gradients //////////////////////////////////////////////////////////////////

gracer  = alt, main-lite
grad    = #ff5050 #d87d3f #d8c93f #93ce3d #5eeeb2 #5ee1ee \
          #5e98ee #3673c6 #695eee #b15eee #ee5ee2 #ff50a6
mute    = #a05757 #8a644a #8a844a #6c8449 #5d997f #5d9399 \
          #5d7599 #445d80 #615d99 #7f5d99 #995d93 #a0577a

// brands /////////////////////////////////////////////////////////////////////

brand       = grad[0], grad[1], grad[5], grad[6], grad[7], grad[8]
brand-mute  = mute[0], mute[1], mute[5], mute[6], mute[7], mute[8]