// standard /////////////

main-tint       = #cca8ff
main            = #9950ff
main-shade      = #7036c6
main-dark       = #481c8e
alt-tint        = #e8c6ff
alt             = #d08dff
alt-shade       = #9161ba
alt-dark        = #513676
mono-lite       = #f2f2f2
mono-accent     = #424242
mono-dark       = #212121

// gradients ////////////

grads =  #ff5050 #d87d3f #d8c93f \
         #93ce3d #5eeeb2 #5ee1ee \
         #5e98ee #3673c6 #695eee \
         #b15eee #ee5ee2 #ff50a6

// specials /////////////

cer-red         = #ef5350
cer-yellow      = #fff176
cer-blue        = #64b5f6
cer-gray        = #78909c

// brands ///////////////

bc-github       = #4078c0
bc-twitter      = #1da1f2
bc-twitch       = #9146ff
bc-youtube      = #ff0000
bc-bandcamp     = #408294
bc-soundcloud   = #ff3300
brand-colors    = bc-github bc-twitter bc-twitch \
                  bc-youtube bc-bandcamp bc-soundcloud \
                  main