// standard ///////////////////////////////////////////////////////////////////

main-lite     = #d9b6fc
main-mid      = #c084fc
main-dark     = #855ee8
lite-head     = #f2f3f5
lite          = #b8b8c7
lite-dark     = #858597
dark-lite     = #515167
dark-mid      = #212128
dark          = #1a1a1f

accent = {
  red:        #ef4444,
  orange:     #ffb86c,
  yellow:     #fde047,
  green:      #4ade80,
  cyan:       #67e8f9,
  blue:       #60a5fa,
  purple:     #855ee8,
  pink:       #c084fc,
}

diffs = {
  beginner:   accent.purple,
  easy:       accent.green,
  medium:     accent.yellow,
  hard:       accent.red,
  challenge:  accent.blue,
  edit:       lite-dark,
}

bpms = {
  "110":      lite-dark,
  "120":      accent.blue,
  "130":      accent.green,
  "140":      accent.yellow,
  "150":      accent.orange,
  "160":      accent.red,
  "170":      accent.purple,
  "180":      accent.yellow, // will hue shift
}

for key, value in accent
  .accent-{key}
    color value
