load-font(name, file, w=normal, st=normal)
    @font-face
        font-family name
        font-style st
        font-weight w
        src url("../fonts/" + file + ".woff2")
        font-display swap
        font-feature-settings 'case' 1, 'ss01' 1, 'ss03' 1

load-font("Barlow", "Barlow-Regular", 400)
load-font("Barlow", "Barlow-Italic", 400, italic)
load-font("Barlow", "Barlow-SemiBold", 600)
load-font("Barlow", "Barlow-SemiBoldItalic", 600, italic)
load-font("Inter Display", "InterDisplay-Bold", bold)
load-font("Axis", "axis")

head(sz, c=white, w=400, st=normal)
    font sz "Inter Display", sans-serif
    color c
    font-weight bold
    font-style st
    letter-spacing -0.02em

sub(sz, c=white, w=400, st=normal)
    font sz "Inter Display", sans-serif
    color c
    font-weight w
    font-style st
    letter-spacing -0.01em

text(sz, c=white, w=400, st=normal)
    font sz "Barlow", sans-serif
    color c
    font-weight w
    font-style st
    letter-spacing -0.01em

axis(sz, c=white)
    font sz "Axis", sans-serif
    color c
    letter-spacing -0.05em
