load-font(name, file, w=normal, st=normal)
    @font-face
        font-family name
        font-style st
        font-weight w
        src url("../fonts/" + file + ".woff2")
        font-display swap

load-font("Inter", "inter_slnt,wght", 100 900)
load-font("Axis", "axis")

inter(sz, c=white, w=350, st=0, sp=-0.07em)
    font sz "Inter", sans-serif
    color c
    font-variation-settings "wght" w, "slnt" st*-10
    letter-spacing sp

axis(sz, c=white, sp=-0.06em)
    font sz "Axis", sans-serif
    color c
    letter-spacing sp