gradient-bg(g)
    background linear-gradient(convert(g))
    background -o-linear-gradient(convert(g))
    background -moz-linear-gradient(convert(g))
    background -webkit-linear-gradient(convert(g))

__hover__()
    transition filter 0.15s ease-out
    &:hover
        filter brightness(1.15) contrast(0.95) saturate(0.8)

__hover2__()
    transition filter 0.15s ease-out, transform 0.15s ease-out
    &:hover
        filter brightness(1.2)
        transform scale(1.1)

__hover3__()
    transition color 0.15s ease-out, transform 0.15s ease-out
    &:hover
        color main-lite
        transform scale(1.2)