gradient-bg(g)
    background linear-gradient(convert(g))
    background -o-linear-gradient(convert(g))
    background -moz-linear-gradient(convert(g))
    background -webkit-linear-gradient(convert(g))

__hover__()
    &:hover
        filter brightness(1.2) saturate(0.8)

__hover2__()
    &:hover
        filter brightness(1.2)

__hover3__()
    &:hover
        color main-lite