__hover__()
    &:hover
        filter brightness(1.2) saturate(0.8)

__hover2__()
    &:hover
        filter brightness(1.2)

__hover3__()
    &:hover
        background-color dark-mid
        outline 1px solid main-mid