.container
    a.c2a-resume(href="mailto:hello@cering.dev")
        p.c2a-main got ideas?
        p.c2a-sub let’s make something cool together.
        .c2a-icon: include ../img/c2a.svg
.c2a-actions
    a.action(href=c2aLinks[0].href) #{c2aLinks[0].desc}
    a.action(href=c2aLinks[1].href) #{c2aLinks[1].desc}