footer.footer
    .socials
        .socials-main
            a.socials-main-link(href="discord://discord.com/users/210385938918932480" title="@cering on Discord" aria-label="Discord")
                include ../img/icons/discord.svg
                span &#64;cering
            a.socials-main-link(href="https://bsky.app/profile/cering.dev" target="_blank" rel="noopener" title="@asteradd on Bluesky" aria-label="Bluesky")
                include ../img/icons/bluesky.svg
                span &#64;cering.dev
            a.socials-main-link(href="https://www.youtube.com/cering" target="_blank" rel="noopener" title="@cering on YouTube" aria-label="YouTube")
                include ../img/icons/youtube.svg
                span &#64;cering
        .socials-extra
            a.socials-extra-link(href="https://github.com/cerisyl" target="_blank" rel="noopener" title="GitHub" aria-label="GitHub")
                include ../img/icons/github.svg
            a.socials-extra-link(href="https://www.linkedin.com/in/cering/" target="_blank" rel="noopener" title="LinkedIn" aria-label="LinkedIn")
                include ../img/icons/linkedin.svg
            a.socials-extra-link(href="https://cering.bandcamp.com/" target="_blank" rel="noopener" title="Bandcamp" aria-label="Bandcamp")
                include ../img/icons/bandcamp.svg
            a.socials-extra-link(href="https://soundcloud.com/cerisyl" target="_blank" rel="noopener" title="SoundCloud" aria-label="SoundCloud")
                include ../img/icons/soundcloud.svg
            a.socials-extra-link(href="https://twitch.tv/cerisyl" target="_blank" rel="noopener" title="Twitch" aria-label="Twitch")
                include ../img/icons/twitch.svg
            a.socials-extra-link(href="https://twitter.com/asteradd" target="_blank" rel="noopener" title="cohost" aria-label="cohost")
                include ../img/icons/twitter.svg
            a.socials-extra-link(href="mailto:hello@cering.dev" target="_blank" rel="noopener" title="Email" aria-label="Email")
                include ../img/icons/mail.svg
    p.copyright © 2015-#{new Date().getFullYear()} Spencer “CERiNG” Gunning
    //-.footer-links
        a.footer-link(href="/tos") commission tos
        span ·
        a.footer-link(href="/privacy") privacy policy
        span ·
        a.footer-link(href="/site-map") site map
