footer.footer
    .socials
        a.socials-link(href="https://github.com/aemx" target="_blank")
            include ../img/icons/github.svg
        a.socials-link(href="https://twitter.com/asteradd" target="_blank")
            include ../img/icons/twitter.svg
        a.socials-link(href="https://www.twitch.tv/cerhythm" target="_blank")
            include ../img/icons/twitch.svg
        a.socials-link(href="https://www.youtube.com/cering" target="_blank")
            include ../img/icons/youtube.svg
        a.socials-link(href="https://cering.bandcamp.com/" target="_blank")
            include ../img/icons/bandcamp.svg
        a.socials-link(href="https://soundcloud.com/cerhythm" target="_blank")
            include ../img/icons/soundcloud.svg
    p.copyright © 2022 Spencer "CERiNG" Gunning