header.header
    .logo
        a(href="https://cering.dev")
            include ../img/cering.svg
    .nav
        a(href="/itg") itg
        a(href="/design") design
        a(href="/music") music
        //-a(href="/blog") blog
        a(href="/about") about