header.header
    .logo
        a(href="/")
            include ../img/logo.svg
    .nav
        a(href="./itg.pug") itg
        a(href="./design.pug") design
        a(href="./music.pug") music
        //-a(href="./blog.pug") blog
        a(href="./about.pug") about