header.header
    .logo
        a(href="/" title="CERiNG")
            include ../img/logo.svg
    .nav
        a(href="./tos") tos
        a(href="./docs/resume_230522.pdf" target="_blank" rel="noopener") resume