header.header
    .logo
        a(href="/" title="CERiNG")
            include ../img/logo.svg
    .nav
        a(href="./tos") commission tos
        a(href="./resume") resume
        a(href="./portfolio") portfolio