header.header
    a.logo(href="/" title="CERiNG")
        .logo-small: include ../img/favicon.svg
        .logo-full: include ../img/logo.svg
    div.nav-toggle#nav-toggle
        include ../img/icons/menu.svg
    nav.nav#links
        a.nav-link(href="./portfolio") portfolio
        a.nav-link(href="./projects") projects
        a.nav-link(href="./itg") itg
        a.nav-link(href="./gfx") graphics
        a.nav-link(href="./music") music
        a.nav-link(href="./commissions") commissions
        a.nav-link(href="./resume") resume
        a.nav-link(href="./blog") blog
        a.nav-link(href="./about") about