//- SCALE 66 -//
.resume-left
    .resume-left-main
    h2 contact
    .resume-left-group
        .resume-left-container
            p.extend-none #[a.link(href="https://cering.dev") cering.dev]
            p #[a.link.no-bold(href="mailto:cering@cering.dev") cering@cering.dev]
            br
            p.extend-none #[b Champaign, IL]
            p 61821
    h2 skills
    .resume-left-group
        .resume-left-container
            h3 languages
            p Svelte
            p React
            p TypeScript
            p JavaScript / Node.js
            p CSS / Stylus / Sass
            p HTML / Pug
            p Python
            p Lua
            p Bash
        .resume-left-container
            h3 tools
            p Adobe Creative Suite
            p Git
            p VS Code
            p Vite
            p Parcel
            p Apache
            p MS Office Suite
        .resume-left-container
            h3 technical
            p PC Building/Repair
            p Windows
            p Windows Server
            p Linux / UNIX
            p Networking
        .resume-left-container
            h3 soft
            p creativity
            p adaptability
            p multitasking
            p problem solving
            p presentation
    .resume-last
        h3 last updated
        p 17 december 2024
.resume-right
    h2 relevant experience
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2024 - present]
        .resume-right-container-inner
            h3.extend-none it specialist
            p #[b.comment #[i University of Illinois Urbana-Champaign · Urbana-Champaign, IL]]
            ul
                li quote, plan, research, and install various IT systems and products
                li consult customers on installation and provide instructional use of software applications
                li manage physical and virutal networks, DNS and DHCP at a departmental level
    .resume-right-container
        p.resume-right-date #[i.comment-small feb. 2021 - sep. 2024]
        .resume-right-container-inner
            h3.extend-none it specialist
            p #[b.comment #[i Raritan Public Library · Raritan, NJ]]
            ul
                li design a new website from scratch using a frontend stack of Parcel, Pug, Stylus, and vanilla JavaScript
                li maintain a website using Apache and automate back-end processes using cron jobs and a shell scripts
                li lead migration of legacy database using a self-written suite of Python scripts for querying, processing and modifying SQL data
                li utilized analytics libraries to tabulate website statistics and improve engagement
                li maintain WCAG accessibility and SEO best practices through use of tools such as Google Lighthouse
                li enhance and maintain a secure network of Windows computers through Windows Server 2016
                li design and distribute event flyers, promotional graphics, and eBlasts using Adobe Photoshop and Adobe Illustrator
                li coordinate and oversee virtual programming for adult patrons and Library board meetings using Zoom and Google Meet
                li assist in hiring new personnel by writing and managing job postings, resumes, and communicating with applicants
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2017 - may 2019]
        .resume-right-container-inner
            h3.extend-none webmaster
            p #[b.comment #[i WJTB Radio · Newark, NJ]]
            ul
                li designed and maintained a new website from scratch using a frontend stack of HTML, CSS, and vanilla JavaScript
                li pushed updates to a central server using SSH and Unix command-line tools
    .resume-right-container
        p.resume-right-date #[i.comment-small jun. 2017 - may 2018]
        .resume-right-container-inner
            h3.extend-none undergraduate research associate
            p #[b.comment #[i NJIT Center for Solar-Terrestrial Research (CSTR) · Newark, NJ]]
            ul
                li analyzed data from the August 2017 solar eclipse and the effects of high-frequency radio communications
                li presented research at the 36th ARRL/TAPR Digital Communications Conference and published in a #[a.link(href="https://doi.org/10.1029/2018GL077324" target="_blank" rel="noopener") geophysical research letter]
                li spearheaded website development and designed submission forms using Drupal, PHP, Python, and Adobe Photoshop
    
    h2 selected projects
    .resume-right-container
        p.resume-right-date #[i.comment-small nov. 2023]
        .resume-right-container-inner
            h3.extend-none Cardigan
            p #[b.comment #[a.link.external(href="https://soraeee.github.io/cardigan/" target="_blank" rel="noopener") #[i soraeee.github.io/cardigan]]]
            ul
                li collaborated with developers to create a scalable webapp used to run tournaments with 100+ participants
                li spearhead the creation of custom UI design resources and functionality using React
                li implement full mobile support and styling using Sass CSS
                li maintain an open-source codebase on GitHub, conducting frequent reviews and pull requests from contributors
    .resume-right-container
        p.resume-right-date #[i.comment-small mar. 2018 - present]
        .resume-right-container-inner
            h3.extend-none creative coding
            p #[b.comment #[a.link.external(href="https://github.com/cerisyl/mod-releases" target="_blank" rel="noopener") #[i github.com/cerisyl/mod-releases]]]
            ul
                li produce original, playable game content using a Lua-based game engine, #[i #[a.link(href="https://www.noti.tg/" target="_blank" rel="noopener") NotITG]]
                li direct high-profile voice talent and artists in teams of 10+ to create compelling visual experiences for thousands online


    h2 education
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2020 - may 2022]
        .resume-right-container-inner
            h3.extend-none higher education
            p #[b.comment #[i Raritan Valley Community College (RVCC) · Branchburg, NJ]]
            p Associate of Applied Science, Interface Design and Web Development &ndash; GPA: 3.7
            ul
                li President’s List &ndash; Spring 2021 &amp; Spring 2022
                li Dean’s List &ndash; all semesters