doctype html
html(lang="en")
    head
        block meta
        include ../includes/head.pug
    body
        include ../includes/nav.pug
        main
            block content
        include ../includes/footer.pug