doctype html
html(lang="en")
    head
        block meta
        include ../includes/head.pug
    body
        include ../includes/nav.pug
        main
            if custombg
                block background
            else
                include ../includes/bgs/streams.pug
            block content
        include ../includes/footer.pug