.c2a
  &-main
    head(36px, lite-head, 600)
    margin-bottom 0
  &-sub
    text(16px, lite-head, 600)
    margin-bottom 0
  &-icon
    position absolute
    width 96px
    fill lite-head
    top -3px
    right -3px
  &-resume
    flex(column, nowrap, flex-end)
    background linear-gradient(0deg, main-dark 0%, cering-purple 200%)
    width 100%
    height 140px
    border-radius 4px
    padding 16px
    position relative
    hover-highlight()
  &-actions
    flex(row, nowrap, space-between)
    .action
      flex(x-align: center)
      margin-right 0