.expo
    display flex
    flex-flow row nowrap
    gap 96px
    &__left
        @extends .expo
        &--desc
            text-align right
            width 550px
        &--gfx
            img
                width 550px
                border-radius 16px
                border 2px solid mono-shade
    &__right
        @extends .expo
        flex-direction row-reverse
        &--desc
            width 550px
        &--gfx
            img
                width 550px
                border-radius 16px
                border 2px solid mono-shade