.footer
    margin 32px auto 0
.socials
    display flex
    flex-flow row wrap
    justify-self center
    justify-content center
    &-link
        width 42px
        fill mono-accent
        padding 8px
.copyright
    inter(14px, mono-lite, 300, 0, -0.06em)
    text-align center