.footer
    margin-top 16px
.socials
    display flex
    flex-flow row wrap
    justify-self center
    justify-content center
    &-link
        width 32px
        fill dark-lite
        padding 4px
        margin 0 4px
        for c, i in brand-mute
            &:nth-child({i+1})
                fill c
                &:hover
                    fill brand[i]
.copyright
    inter(14px, lite-dark, 300, 0, -0.02em)
    text-align center