header
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
.logo
    flex-grow 4
    justify-self center
    align-self center
    svg
        width 250px
        fill main
        transition 0.2s
        &:hover
            fill alt
            transform scale(1.05)
.nav
    flex-grow 1
    max-width 300px
    display flex
    flex-flow row nowrap
    align-items space-between
    justify-content space-between
    a
        display inline-block
        text-decoration none
        inter(20px, main-tint, 700)
        transition 0.2s
        &:hover
            inter(20px, alt, 700)
            transform scale(1.2)