.header
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
    padding 32px 48px
.logo
    flex 10
    svg
        width 200px
        margin-bottom -4px
        __hover2__()
.nav
    flex 9
    max-width 800px
    display flex
    flex-flow row nowrap
    align-items space-between
    justify-content space-between
    margin-right -16px
    a
        display inline-block
        text-decoration none
        inter(24px, lite, 700)
        padding 6px 16px
        margin-top -2px
        __hover3__()