.header
  flex(row, nowrap, space-between, center)
  padding 24px
  background-color dark
  animate(outline)
  outline 0px solid cering-purple
  &-outline
    outline 4px solid cering-purple

.logo
  display inline-block
  margin -8px
  padding 8px
  &-small
    svg
      width 44px
      margin-bottom -4px
  &-full
    display none
    svg
      width 200px
      margin-bottom -4px

.nav
  flex(column, nowrap)
  align-items space-between
  justify-content space-between
  position absolute
  right 0
  top calc(-100dvh + 94px)
  background-color rgba(dark, 0.97)
  backdrop-filter blur(4px)
  z-index -1
  width 100%
  animate(top)
  &-link
    head(20px, lite-head, 600)
    padding calc(-12px + (100dvh - 94px) / 8 / 2) 24px
    hover-color( rgba(dark-lite, 0.2) )
  &-dropdown
    display none
  &-active
    top calc(98px)
  &-toggle
    margin -8px -12px -8px -8px
    padding 8px
    cursor pointer
    animate(margin)
    svg
      animate(width)
      width 40px
      margin-bottom -6px
      stroke lite

.enlarge
  margin -8px -15px -8px -8px
  svg
    width 48px