//- SCALE 65 -//
.resume-left
    h2 contact
    .resume-left-container
        p.extend-none #[a(href="https://cering.dev") cering.dev]
        p #[a.no-bold(href="mailto:cering@cering.dev") cering@cering.dev]
        br
        p.extend-none #[b bridgewater, nj]
        p 08807
    h2 skills 
    .resume-left-container
        h3 languages
        p html/pug
        p css/sass/stylus
        p javascript/node.js
        p python
        p lua
        p bash
        p java
    .resume-left-container
        h3 tools
        p adobe creative suite
        p vs code
        p git
        p apache
        p fl studio
        p microsoft office suite
    .resume-left-container
        h3 technical
        p pc building/repair
        p windows 10/11
        p linux/unix
        p networking
    .resume-left-container
        h3 soft
        p creativity
        p adaptability
        p multitasking
        p problem solving
        p presentation
    h2 awards
    .resume-left-container
        p.crunch #[i.comment-small selected artist]
        p #[b 2022 rvcc student art exhibition]
        p #[i Acxo Alert]
    .resume-left-container
        p.crunch #[i.comment-small nominee, outstanding achievement in editing]
        p #[b msu theatre night awards 2021]
        p #[i Together/Apart]
    .resume-left-container
        p.crunch #[i.comment-small selected presenter]
        p #[b njit nce first-year design showcase (2017)]
        p “Incorporating Waypoints into the Newark Light Rail”
    .resume-left-container-last
        h3 last updated
        p 23 march 2024
.resume-right
    h2 experience
    .resume-right-container
        p.resume-right-date #[i.comment-small feb. 2021 - present]
        .resume-right-container-inner
            h3.extend-none it specialist
            p #[b.comment #[i raritan public library · raritan, nj]]
            ul
                li design and maintain a new website, accommodating a wide array of user specifications
                li communicate with other library it professionals to advance best practices in hardware and software
                li maintain a secure network of Windows computers, recommending upgrades to hardware and software
                li engineer a custom automated framework for website and network maintenance using SSH
                li design and distribute event flyers, promotional graphics, and eblasts using Adobe Photoshop and Adobe Illustrator
                li manage personal workloads in a fast-paced environment
                li coordinate and oversee virtual programming for adult patrons and board meetings
                li assist in hiring process by managing job postings, resumes, and communicating with applicants
    .resume-right-container
        p.resume-right-date #[i.comment-small nov. 2019 - present]
        .resume-right-container-inner
            h3.extend-none level designer
            p #[b.comment #[i lowiro limited · london, uk (remote)]]
            ul
                li develop playable content for lowiro’s flagship game, Arcaea
                li apply music theory and game design to create various levels of difficulty across different genres of music
    .resume-right-container
        p.resume-right-date #[i.comment-small aug. 2019 - jan. 2021]
        .resume-right-container-inner
            h3.extend-none computer technician
            p #[b.comment #[i safe haven computers · raritan, nj]]
            ul
                li build, diagnose, and repair computer hardware and software in a small business environment
                li manage shop storefront independently, handling in-shop/service paperwork and purchase orders
                li interface with clients to discuss and quote custom computers
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2017 - may 2019]
        .resume-right-container-inner
            h3.extend-none webmaster
            p #[b.comment #[i wjtb radio · newark, nj]]
            ul
                li design and maintain a new website, communicating with members and staff to fulfill update requests
    .resume-right-container
        p.resume-right-date #[i.comment-small jun. 2017 - may 2018]
        .resume-right-container-inner
            h3.extend-none undergraduate research associate
            p #[b.comment #[i njit center for solar-terrestrial research (cstr) · newark, nj]]
            ul
                li analyze data from the august 2017 solar eclipse and the effects of high-frequency radio communications; research presented at the 36th annual digital communications conference and published in a geophysical research letter
                li lead backend website handling, design, and scoring for the solar eclipse qso party, a ham radio contest
    
    h2 selected projects
    .resume-right-container
        p.resume-right-date #[i.comment-small mar. 2018 - present]
        .resume-right-container-inner
            h3.extend-none creative coding
            p #[b.comment #[i working with NotITG]]
            ul
                li produce original, playable game content using a lua-based game engine, NotITG
                li direct high-profile voice talent and artists in teams of 10+ to create compelling visual experiences for thousands online
    .resume-right-container
        p.resume-right-date #[i.comment-small apr. 2016 - present]
        .resume-right-container-inner
            h3.extend-none freelance multidisciplinary design
            p #[b.comment #[i working on commission]]
            ul
                li produce graphics, games, and video/audio edits on commission, ensuring products are up to client standards
                li previous clients include the brhs theatre arts department and various online content creators

    h2 education
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2020 - may 2022]
        .resume-right-container-inner
            h3.extend-none higher education
            p #[b.comment #[i raritan valley community college (rvcc) · branchburg, nj]]
            ul
                li associate of applied science, interface design and web development (gpa: 3.7)
                li president’s list (spring 2021 &amp; spring 2022), dean’s list all semesters
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2016 - may 2018]
        .resume-right-container-inner
            h3.extend-none higher education
            p #[b.comment #[i new jersey institute of technology (njit) · newark, nj]]
            ul
                li studied periodically originally intending to pursue a degree in computer engineering
                li passed a number of high-level classes including circuits &amp; systems ii, microprocessors, and computer architecture