//- SCALE 79 -//
.resume-left
    h2 contact
    .resume-left-container
        p.extend-none #[a(href="https://cering.dev") cering.dev]
        p #[a.no-bold(href="mailto:cering@cering.dev") cering@cering.dev]
        br
        p.extend-none #[b bridgewater, nj]
        p 08807
    h2 skills 
    .resume-left-container
        h3 rhythm game
        p #[b Arcaea] &ndash; 12.97ptt
        p #[b CHUNITHM] &ndash; 14.40
        p #[b SDVX] &ndash; 12.644vf
        p #[b StepMania] &ndash; 18 pass
        p #[b NotITG] &ndash; 17 pass
    .resume-left-container
        h3 charting
        p #[b personal ] &ndash; 6 yrs.
        p #[b professional] &ndash; 4 yrs.
    .resume-left-container
        h3 tools
        p adobe creative suite
        p vs code
        p git
        p fl studio
        p microsoft office suite
    .resume-left-container
        h3 soft
        p creativity
        p adaptability
        p multitasking
        p problem solving
        p presentation
    h2 awards
    .resume-left-container
        p.crunch #[i.comment-small 15th of 34th overall]
        p #[b Technical Showcase 4 Finals]
        p P.R.M.
    .resume-left-container
        p.crunch #[i.comment-small 11th of 84th overall; qualified for finals]
        p #[b Technical Showcase 4 Qualifier]
        p Butterfly Twist
    .resume-left-container-last
        h3 last updated
        p 23 march 2024
.resume-right
    h2 projects + experience
    .resume-right-container
        p.resume-right-date #[i.comment-small aug. 2023 - present]
        .resume-right-container-inner
            h3.extend-none CERiSTREAMS #[i.comment-small (in development)]
            p #[b.comment #[i stamina-oriented StepMania pack]]
            ul
                li 25-song pack with 5 difficulty slots
                li 3 self-mixed "marathons" with 1 difficulty only
                li focus on long-form content, difficulty pacing, and restrictive use of patterning
    .resume-right-container
        p.resume-right-date #[i.comment-small apr. 2023 - present]
        .resume-right-container-inner
            h3.extend-none CERiOLOGY #[i.comment-small (in development)]
            p #[b.comment #[i tech-oriented StepMania pack]]
            ul
                li 25-song pack with 5 difficulty slots
                li higher difficulties focus on execution of non-standard 4-panel skills
                li lower difficulties build fundamentals, transitions to learning non-standard skills at an appropriate pace
    .resume-right-container
        p.resume-right-date #[i.comment-small may 2019 - jan. 2020]
        .resume-right-container-inner
            h3.extend-none #[a.external(href="https://www.youtube.com/watch?v=yV0XQziHyy4" target="_blank" rel="noopener") Misfits in the Prairie]
            p #[b.comment #[i collaboratively produced NotITG tournament]]
            ul
                li eight-stage tournament of modded 4-panel content with a broad range of difficulty
                li manage a group a team of other programmers, artists/storyboarders, and voice talent
                li communicate effectively with venue organizers and volunteers to ensure tournament is run smoothly
                li project lead, writer, programmer, level designer, ui/ux, graphic and audio designer, voice talent
    .resume-right-container
        p.resume-right-date #[i.comment-small mar. 2018 - dec. 2018]
        .resume-right-container-inner
            h3.extend-none #[a.external(href="https://www.youtube.com/watch?v=RA-u4K1xUgw" target="_blank" rel="noopener") NJSRT]
            p #[b.comment #[i independently produced NotITG tournament]]
            ul
                li six-stage tournament of modded 4-panel content with a broad range of difficulty
                li project lead, writer, programmer, level designer, graphic and audio designer, venue organizer

    h2 education
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2020 - may 2022]
        .resume-right-container-inner
            h3.extend-none higher education
            p #[b.comment #[i raritan valley community college (rvcc) · branchburg, nj]]
            ul
                li associate of applied science, interface design and web development (gpa: 3.7)
                li president’s list (spring 2021 &amp; spring 2022), dean’s list all semesters
    .resume-right-container
        p.resume-right-date #[i.comment-small sep. 2016 - may 2018]
        .resume-right-container-inner
            h3.extend-none higher education
            p #[b.comment #[i new jersey institute of technology (njit) · newark, nj]]
            ul
                li studied periodically originally intending to pursue a degree in computer engineering
                li passed a number of high-level classes including circuits &amp; systems ii, microprocessors, and computer architecture