@require './util/color'
@require './util/fonts'
@require './util/reset'
@require './util/mixins'

body
    margin 0 auto
    padding 0 24px
h1
    sub(64px, dark, 600)
    margin-bottom 16px
h2
    sub(42px, #483f7f, 600)
    margin-bottom 12px
h3
    sub(28px, dark, 600)
    margin-bottom 4px

p, li
    text(14px, dark, 400)
    line-height 20px
    text-align justify
    margin-bottom 16px
ul
    list-style-position inside
a
    color #326cbf
    font-weight 600
    text-decoration underline
b
    font-weight 600

.comment
    color dark-lite
    &-small
        @extends .comment
        font-size 12px

.no-bold
    font-weight 400

.center
    text-align center

.right
    text-align right

.external::after
    content " 🡥"
    position relative
    font-size 0.6em
    top -1px
    letter-spacing 0px

.extend
    &-small
        margin-bottom 8px
    &-none
        margin-bottom 0

.container
    margin-bottom 32px  

.link
    text-align justify

// Resume =====================================================================

.resume
    flex(row, nowrap, gap: 24px)
    margin-top 32px
    &-top
        flex(row-reverse, nowrap, center, center, 24px)
        &-links
            display none
    &-h1
        font-size 56px
        margin-bottom 0px !important
    &-sub
        text(24px, dark, 600)
        font-style italic
        text-align center
    &-left
        position relative
        flex(column, nowrap, stretch, stretch)
        text-align right
        min-width calc(144px + 32px)
        max-width calc(144px + 32px)
        &-group
            flex(row, wrap, start, start, gap: 8px)
            margin-bottom 16px
        &-container
            border-radius 4px
            min-width 100%
            max-width 100%
            p
                text-align right
                line-height 16px
                margin-bottom 0
    &-right
        border-left 2px solid #483f7f
        padding-left 32px
        &-date
            margin-top 6px
            text-align left
            line-height 10px !important
            min-width 60px
            max-width 60px
        &-container
            flex(row, nowrap, left, gap: 8px)
            margin-bottom 16px
            p, li
                line-height 16px
                margin-bottom 6px
    &-last
        margin-top auto
        h3
            text-align right
            margin-bottom 0px
        p
            text-align right
            line-height 16px