@require '/util/color'
@require '/util/fonts'
@require '/util/reset'
@require '/util/vendor'

@keyframes awes
    0%
        filter hue-rotate(0deg)
    50%
        filter hue-rotate(100deg)
    100%
        filter hue-rotate(0deg)
.body
    background-color bg()
    margin 50px auto
    width 745px
.title
    euclid(90px,#7E57C2)
    letter-spacing -0.05em
    transform scaleY(1.1)
.sub
    inter(26px, main('55'),100,-100)
    letter-spacing 0.4em
    margin-top -6px
p
    sf(19px, main())
    text-align justify
hr
    background-color main('33')
    border 0
    margin 22px auto
    height 1px
    max-width 400px
.sig
    text-align right
.epic
    sf(19px,#CE93D8,bold)
    animation awes 2s infinite
.foot
    sf(16px, main('55'),,italic)
    text-align center
    margin-bottom -16px
.socials
    display flex
    flex-flow row wrap
    justify-self center
    justify-content space-between
    margin 10px auto
    max-width 232px
    &-link
        width 18px
        fill main()
        transition 0.2s
        brand-colors = #1DA1F2 #9146FF #FF0000 #408294 #FF3300 #0078D4
        for c, i in brand-colors
            &:nth-child({i+1}):hover
                fill c
a
    text-decoration none
code
    font-size 17px
    color main('aa')
.l_red
    sf(19px,#EF5350,bold)
.l_purple
    sf(19px,#CE93D8,bold)
.l_grey
    sf(19px,#78909C,bold)
.l_yellow
    sf(19px,#FFF176,bold)
.l_blue
    sf(19px,#64B5F6,bold)