@require './util/color'
@require './util/fonts'
@require './util/reset'
@require './util/vendor'
@require './components/card'
@require './components/footer'
@require './components/header'
@require './components/scrollbar'
@require './pages/music'
@require './pages/index'

html
    scroll-behavior smooth
    -ms-overflow-style none
    overflow overlay
.body
    background-color dark
    display flex
    flex-flow column nowrap
    justify-content space-between
.main
    mar = 32px
    padding mar 48px
    min-height "calc(100vh - %s * 2)" % mar
    display flex
    flex-flow column nowrap
    gap 48px
    width 1368px
    align-self center

// headers ////////////////////////////////////////////////////////////////////

.h1
    inter(90px, lite, 700)
.h2
    inter(56px, lite, 700)
.h3
    inter(34px, lite, 700)
.hsub
    axis(22px, lite)

// body text //////////////////////////////////////////////////////////////////

.text
    inter(18px, lite, 400,, -0.02em)
    line-height 24px
    text-align justify
    &-br
        @extend .text
        margin-bottom 24px
.bold
    inter(18px, lite, 700,, -0.02em)
    line-height 24px
    text-align justify
.center
    text-align center
.right
    text-align right