@require './util/color'
@require './util/fonts'
@require './util/reset'
@require './util/vendor'
@require './components/footer'
@require './components/header'
@require './components/scrollbar'
@require './pages/portfolio'
@require './pages/resume'

html
    scroll-behavior smooth
body
    margin 32px auto
    padding 0 48px
    background-color dark
    max-width 928px
main
    min-height calc(100vh - 48px - 42px - 48px - 70px - 48px)

h1
    inter(48px, lite-head, 600)
    letter-spacing -0.04em
    margin-bottom 16px
h2
    inter(34px, lite-head, 600)
    letter-spacing -0.04em
    margin-bottom 12px
h3
    inter(22px, lite-head, 600)
    letter-spacing -0.04em
    margin-bottom 4px
.hsub
    axis(22px, lite)
p, li
    inter(14px, lite, 400)
    letter-spacing -0.02em
    line-height 20px
    text-align justify
    margin-bottom 16px
ul
    list-style-position inside
a
    color grad[6]
    font-weight 600
    __hover__()
b
    color lite-head
    font-weight 600
hr
    background-color dark-lite
    border 0
    margin 32px auto 32px
    height 1px
    width 200px

.comment
    color lite-dark
    &-small
        @extends .comment
        font-size 12px

.no-bold
    font-weight 400

.diff
    display inline-block
    position relative
    top -8px
    margin-left 4px
    text-align center
    inter(14px, lite, 600)
    letter-spacing 0
    border-radius 4px
    padding 2px 4px
    background-color dark-lite

.action
    display inline-block
    text-align center
    inter(14px, lite, 600,, -0.02em)
    border-radius 4px
    padding 4px 8px
    margin-right 4px
    background-color main-dark

.center
    text-align center

.right
    text-align right

.num
    display inline-block
    text-align center
    inter(14px, lite, 600,, -0.02em)
    width 32px
    border-radius 4px
    padding 2px 4px
    margin-right 4px
    background-color main-dark

.external::after
    content " 🡥"
    position relative
    font-size 0.6em
    top -1px
    letter-spacing 0px

.extend
    &-small
        margin-bottom 8px
    &-none
        margin-bottom 0

.container
    margin-bottom 16px  

.crunch
    line-height 10px !important
    margin-bottom 2px !important

@keyframes awes
    0%
        filter hue-rotate(0deg)
    50%
        filter hue-rotate(100deg)
    100%
        filter hue-rotate(0deg)

.thin
    width 100%
    max-width 820px
    border-radius 4px
    __hover__()

.link
    text-align justify
    __hover__()
    &-red
        @extend .link
        inter(14px, grad[0], 600,, -0.02em)
    &-yellow
        @extend .link
        inter(14px, grad[2], 600,, -0.02em)
    &-blue
        @extend .link
        inter(14px, grad[6], 600,, -0.02em)
    &-purple
        @extend .link
        inter(14px, grad[10], 600,, -0.02em)
    &-grey
        @extend .link
        inter(14px, lite-dark, 600,, -0.02em)
    &-epic
        @extend .link-blue
        animation awes 2s infinite

.sig
    width 225px
    fill alt()
    margin 4px 0 0 auto