h1 game design

h2.extend-none 7thSense #[b.diff Expert 19]
p #[i.comment #[b 2021 •] created for #[a.external(href="https://www.noti.tg/" target="_blank" title="NotITG" rel="noopener") NotITG]]
.portfolio-outer
    video.portfolio-embed(controls preload="metadata" poster="../../media/charts/7thsense.png")
        source(src="../../media/charts/7thsense.mp4" type="video/mp4")
    .portfolio-inner
        h3 about
        p over the course of one week, i worked with talented modcharter #[a.external(href="https://www.youtube.com/tetaes" target="_blank" rel="noopener") Tetaes] and artist #[a.external(href="https://twitter.com/RedBirdRabbit" target="_blank" rel="noopener") Aura Irving] to create a my most celebrated work in the NotITG community to date. as a team, we #[a(href="../../media/charts/7thsense-storyboard.png" target="_blank" rel="noopener") storyboarded] and implemented environments and gimmicks based on fictional characters and settings (without ever showing them directly).
        p.feature featured as the final stage in TaroNuke’s #[a.external(href="https://oisrt.heysora.net/" target="_blank" rel="noopener") Online Internet SRT]
        h3 exemplifies
        ul
            li ability to collaborate on high-level content
            li finished within one week; ability to work under short time constraints

h2.extend-none Butterfly Twist #[b.diff Hard 9 + Expert 11]
p #[i.comment #[b 2020 •] created for #[b StepMania] #[b.comment-small (Tech)]]
.portfolio-outer
    video.portfolio-embed(controls preload="metadata" poster="../../media/charts/btwist.png")
        source(src="../../media/charts/btwist.mp4" type="video/mp4")
    .portfolio-inner
        h3 about
        p #[b Butterfly Twist] is easily my most celebrated work in the 4-panel tech community. both the expert and hard charts continue to be relevant to the modern metagame and have been featured in tournaments throughout the past three years.
        p.feature hard - featured in #[a.external(href="https://rip.ddrillini.club/" target="_blank" rel="noopener") Rumble in the Prairie 13.5/14]
            br
            br
            | expert - advanced to finals in #[a.external(href="https://xrgtmx.github.io/Technical-Showcase-4/about.html" target="_blank" rel="noopener") Technical Showcase 4] (11th overall) and was featured in #[b ECFA 2021] and #[a.external(href="http://itl2023.groovestats.com/" target="_blank" rel="noopener") ITL Online 2023]
        h3 exemplifies
        ul
            li ability to use inventive patterning to create a memorable player experience
            li ability to communicate motifs through multiple difficulties


h2.extend-none Breathe In #[b.diff Hard 7]
p #[i.comment #[b 2023 •] from #[a.external(href="https://store.steampowered.com/app/2327270/GridM/" title="Grid-M Steam Page" target="_blank" rel="noopener") Grid-M]]
.portfolio-outer
    video.portfolio-embed(controls preload="metadata" poster="../../media/charts/breathe-in.png")
        source(src="../../media/charts/breathe-in.mp4" type="video/mp4")
    .portfolio-inner
        h3 about
        p i was commissioned to create a few charts for a point-and-click rhythm game- something that was vastly different from my previous work in chart design.
        h3 exemplifies
        ul
            li ability to create engaging motifs to repetitive music
            li ability to create content outside range of familiarity

h2.extend-none Whiteout #[b.diff Expert 11]
p #[i.comment #[b 2023 •] created for #[b StepMania] #[b.comment-small (Tech)]]
.portfolio-outer
    video.portfolio-embed(controls preload="metadata" poster="../../media/charts/whiteout.png")
        source(src="../../media/charts/whiteout.mp4" type="video/mp4")
    .portfolio-inner
        h3 about
        p #[b Whiteout] was created specifically to fill a niche in the 4-panel tech community. i was tasked with finding and charting a song that slowed down in the second half, while still retaining melodic and rhythmic motifs from the faster section. the chart was adopted immediately by the curation team for Rumble in the Prairie and has been met with critical acclaim.
        p.feature featured in #[a.external(href="https://rip.ddrillini.club/" target="_blank" rel="noopener") Rumble in the Prairie 13.5/14]
        h3 exemplifies
        ul
            li ability to use inventive patterning to create a memorable player experience
            li ability to implement appropriate soflan gimmicks
            li ability to cut audio creatively


h2.extend-none The Grind #[b.diff Expert 15]
p #[i.comment #[b 2023 •] created for #[b StepMania] #[b.comment-small (Stamina)]]
.portfolio-outer
    video.portfolio-embed(controls preload="metadata" poster="../../media/charts/the-grind.png")
        source(src="../../media/charts/the-grind.mp4" type="video/mp4")
    .portfolio-inner
        h3 about
        p a five-song marathon that totals to over 20 minutes of playtime, #[b The Grind] restricts itself to foot movement and direction to engage the player whilst testing their physical stamina in a 4-panel setting.
        h3 exemplifies
        ul
            li ability to create long-form content with appropriate pacing
            li ability to pattern while restricted to one aspect of charting
            li ability to mix and cut audio creatively
        p #[i.comment-small video contains selected excerpts only. a full lineout can be found #[a.external(href="https://youtu.be/T6j8fq2JjK0" target="_blank" rel="noopener") here].]