.intro
  white-space-collapsing discard
  text-align center
  margin-bottom 36px

.showcase
  position relative
  margin-bottom 4px
  overflow hidden
  hover-highlight()
  &-container
    flex(column, nowrap)
    margin-bottom 64px
    position relative
  &-desc
    head(30px, lite-head, 600)
    line-height 30px
    svg
      width 112px
      margin-right -6px
      path
        fill lite-head
  &-detail
    display inline
  &-title
    axis(26px, lite-head)
    margin-bottom -4px
  &-role
    axis(18px, auto)
    margin-bottom 0
  &-inner
    line-height 0
  &-image
    source, img
      width calc(120vw - 48px)
      height 100%
      position relative
  &-shape
    position absolute
    z-index -1
    width 90vw
  // positions
  &-left
    @extends .showcase
    left calc(-24px)
    border-radius 0 4px 4px 0
    &-desc
      @extends .showcase-desc
      text-align right
    &-shape
      @extends .showcase-shape
      left -40vw
    &-detail
      @extends .showcase-detail
      p
        text-align left
        margin-left -12px
    .showcase-title, .showcase-role
      text-align right
  &-right
    @extends .showcase
    right calc(-20vw + 48px)
    border-radius 4px 0 0 4px
    source, img
      right calc(20vw)
    &-desc
      @extends .showcase-desc
      text-align left
    &-shape
      @extends .showcase-shape
      right -40vw
    &-detail
      @extends .showcase-detail
      p
        text-align right
        margin-right -12px
    .showcase-title, .showcase-role
      text-align left
  // colors
  &-blue
    background linear-gradient(0deg, soft.blue 0%, soft.blurple 100%)
  &-sunset
    background linear-gradient(0deg, soft.sunset 0%, soft.orange 100%)
  &-pink
    background linear-gradient(0deg, soft.pink 0%, soft.purple 100%)
  &-cyan
    background linear-gradient(0deg, soft.cyan 0%, soft.sky 100%)