.intro
  white-space-collapsing discard
  text-align center
  margin-bottom 36px
  font-style italic

.me
  font-size 1.1em
  font-style italic
  letter-spacing -2px
  color main-dark

.showcase
  position relative
  margin-bottom 4px
  overflow hidden
  hover-highlight()
  +tablet()
    min-width 46vw
  +laptop()
    min-width 56vw
  +standard()
    min-width 60%
  &-container
    flex(column, nowrap)
    margin-bottom 64px
    position relative
    +tablet()
      line-height 0
      margin-bottom 88px
  &-desc
    head(30px, lite-head, 600)
    line-height 30px
    +tablet()
      head(5vw, lite-head, 600)
      line-height 5vw
      margin-bottom 0
    +standard()
      head(44px, lite-head, 600)
      line-height 44px
  &-detail
    display inline
    +tablet()
      position absolute
      right 0
      bottom -48px
  &-title
    axis(26px, lite-head)
    margin-bottom -4px
  &-role
    axis(16px, auto)
    margin-bottom 0
  &-inner
    line-height 0
  &-image
    user-select none
    source, img
      width calc(120vw - 48px)
      height 100%
      position relative
      +tablet()
        width 100%
  &-shape
    position absolute
    z-index -1
    width 90vw
    svg
      fill dark-mid
    +tablet()
      width 300px
    +laptop()
      width 360px

  // positions
  &-left
    @extends .showcase
    left calc(-24px)
    border-radius 0 4px 4px 0
    +standard()
      border-radius 4px
    &-container
      @extends .showcase-container
      +tablet()
        flex(row-reverse, nowrap, x-align: center)
    &-desc
      @extends .showcase-desc
      text-align right
    &-shape
      @extends .showcase-shape
      left -40vw
      +tablet()
        left -220px
      +standard()
        left -30px
    &-detail
      @extends .showcase-detail
      p
        text-align left
        margin-left -12px
      +tablet()
        left 8px
    .showcase-title, .showcase-role
      text-align right
  &-right
    @extends .showcase
    right calc(-20vw + 48px)
    border-radius 4px 0 0 4px
    +tablet()
      right -24px
    +standard()
      border-radius 4px
    source, img
      right calc(20vw)
      +tablet()
        right 0
    &-container
      @extends .showcase-container
      +tablet()
        flex(row, nowrap, x-align: center)
    &-desc
      @extends .showcase-desc
      text-align left
    &-shape
      @extends .showcase-shape
      right -40vw
      +tablet()
        right -220px
      +standard()
        right -30px
    &-detail
      @extends .showcase-detail
      p
        text-align right
        margin-right -12px
      +tablet()
        right 8px
    .showcase-title, .showcase-role
      text-align left

  // colors
  &-blue
    background accent.blue
  &-orange
    background accent.orange
  &-pink
    background accent.pink
  &-cyan
    background accent.cyan

// special release/showcase
.special
  flex(row, nowrap, center, center, gap: 32px)
  min-height calc(100dvh - 114px - 32px - 149px)
  &-left
    width 50%
    flex(column, align: right)
    p
      text-align right
  &-right
    width 50%
    flex(column, align: left)
    p
      text-align left
  &-text
    text(18px, lite-head)
    margin-bottom 8px
    +tablet()
      font-size 20px
      margin-bottom 4px
    +laptop()
      font-size 24px
      margin-bottom 0px
    &-small
      text(16px, lite-head)
      margin-bottom 8px
      +tablet()
        font-size 18px
      +laptop()
        margin-bottom 2px
  &-hero
    img
      width 100%
  &-label
    head(28px, lite-head, 600, italic)
    position absolute
    left 48.5%
    z-index 2
    animation pulse 1.3s ease-in-out infinite alternate
  &-actions
    flex(row, wrap, left, center, gap: 16px)
    margin-left 24px