.sc
    padding 24px 0
    background url('../img/texture.png?as=webp')
    background-size 24px
    &-inner
        display flex
        justify-content space-between
        align-items center
    &-left
        @extend .sc
        margin 0 -48px 0 -24px
        & .sc-inner
            flex-flow row nowrap
            margin 0 0 0 24px
        & .sc-head
            margin-right 32px
            text-align justify
    &-right
        @extend .sc
        margin 0 -24px 0 -48px
        & .sc-inner
            flex-flow row-reverse nowrap
            margin 0 24px 0 0
        & .sc-head
            margin-left 32px
            text-align-last right
    &-head
        inter(56px, mono-lite, 700)
        flex 1
        text-align justify
.minis-outer
    margin 0 -48px
    background url('../img/texture.png?as=webp')
    background-size 24px
    padding 24px 48px
.minis-inner
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items center
.call
    display flex
    flex-flow column nowrap
    padding 24px 56px
    justify-content center
    align-items center
    gradient-bg("top, grads[9] 0%, grads[8] 220%")
    text-align center
    margin-top 16px
    margin-bottom 12px
    &-outer
        background url('../img/texture.png?as=webp')
        background-size 24px
        padding 24px 36px
        width 600px
        align-self center
        margin-top -12px
    &-top
        inter(16px, mono-dark, 350, 1, 1em)
        margin-left 1.5em
    &-email
        inter(42px, mono-lite, 700)
        text-decoration underline
        text-decoration-thickness 2px
        text-underline-offset 1px