.hi svg
    margin 0 -14px -1px 1px
    width 350px
.sc
    padding 24px 0
    background url("url:../img/texture.png?as=webp", "url:../img/texture.png?as=jpg")
    background-size 24px
    &-inner
        display flex
        justify-content space-between
        align-items center
    &-left
        @extend .sc
        margin 0 -48px 0 -24px
        & .sc-inner
            flex-flow row nowrap
            margin 0 0 0 24px
        & .sc-head
            margin-right 32px
            text-align left
    &-right
        @extend .sc
        margin 0 -24px 0 -48px
        & .sc-inner
            flex-flow row-reverse nowrap
            margin 0 24px 0 0
        & .sc-head
            margin-left 32px
            text-align right
        & .card
            align-items flex-end
            text-align right
            &-img
                left 0
                right unset
            &-bg
                background url("url:../img/texture_alt.png?as=webp", "url:../img/texture_alt.png?as=jpg") left bottom
                background-size 24px
    &-head
        inter(56px, lite, 700)
        flex 1
        text-align justify
.minis-outer, .micros-outer
    margin 0 -48px
    background url("url:../img/texture.png?as=webp", "url:../img/texture.png?as=jpg")
    background-size 24px
    padding 24px 48px
.minis-inner, .micros-inner
    display flex
    flex-flow row wrap
    align-items space
.minis-inner
    justify-content space-between
.micros-inner
    justify-content center