.sc
    padding 24px 0
    background url('../img/texture.png?as=webp')
    background-size 24px
    &-inner
        display flex
        justify-content space-between
        align-items center
    &-left
        @extend .sc
        margin 0 -48px 0 -24px
        & .sc-inner
            flex-flow row nowrap
            margin 0 0 0 24px
        & .sc-head
            margin-right 32px
            text-align justify
    &-right
        @extend .sc
        margin 0 -24px 0 -48px
        & .sc-inner
            flex-flow row-reverse nowrap
            margin 0 24px 0 0
        & .sc-head
            margin-left 32px
            text-align-last right
        & .card
            align-items flex-end
            text-align right
            &-img
                left 0
                right unset
            &-bg
                background url('../img/texture_alt.png?as=webp') left bottom
                background-size 24px
    &-head
        inter(56px, mono-lite, 700)
        flex 1
        text-align justify
.minis-outer
    margin 0 -48px
    background url('../img/texture.png?as=webp')
    background-size 24px
    padding 24px 48px
.minis-inner
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items space
.micros-outer
    margin 0 -48px
    background url('../img/texture.png?as=webp')
    background-size 24px
    padding 24px 48px
.micros-inner
    display flex
    flex-flow row wrap
    justify-content center
    align-items space