.itg
    display flex
    flex-flow row wrap
    gap 32px 48px
    &-detail
        display flex
        flex-flow column nowrap
        gap 4px
        width 392px
    &-titledate
        display flex
        flex-flow row wrap
        justify-content space-between
    &-action
        display flex
        flex-flow row wrap
        gap 12px
    &-link
        width 24px
        transition fill 0.25s ease-in-out, transform 0.25s ease-out
        fill brand-mute[0]
        &:hover
            transform scale(1.1)
            fill brand[0]

.itgxl
    display flex
    flex-flow row wrap
    gap 32px 70px
    &-detail
        display flex
        flex-flow column nowrap
        gap 4px
        width 600px
    &-titledate
        display flex
        flex-flow row wrap
        justify-content space-between
    &-action
        display flex
        flex-flow row wrap
        gap 12px
    &-link
        width 24px
        transition fill 0.25s ease-in-out, transform 0.25s ease-out
        fill brand-mute[0]
        &:hover
            transform scale(1.1)
            fill brand[0]

.tsm
    inter(14px, lite,, 1)
    line-height 26px
    text-align justify