.portfolio
    &-nav
        display flex
        flex-flow row nowrap
        justify-content space-evenly
        a
            text(20px, lite, 500)
            padding 4px 16px
            border-radius 4px
    &-outer
        display flex
        flex-flow row nowrap
        gap 24px
        margin-bottom 16px
    &-embed
        min-width 392px
        height calc(392px * 9 / 16)
        margin-bottom 48px
    &-inner
        li
            line-height 16px
            margin-bottom 6px
.feature
    line-height 16px
    width 100%
    background-color dark-mid
    border-left 8px solid ceri-blue
    outline 1px solid ceri-blue
    padding 8px
    border-radius 4px