.resume
  flex(column-reverse, nowrap)
  margin-top 32px
  &-top
    flex(column-reverse, nowrap, center, center, 8px)
    &-links
      flex(row, nowrap, center, gap: 8px)
  &-me
    width 150px
    border-radius 8px
  &-h1
    text(6.47vw, lite-head, 600)
    text-align center
    margin-bottom 0px !important
  &-sub
    text(3.5vw, lite, 600)
    font-style italic
  &-left
    position relative
    &-group
      flex(row, wrap, start, start, gap: 8px)
      margin-bottom 16px
    &-container
      background-color dark-mid
      outline 1px solid main-mid
      padding 8px
      border-radius 4px
      min-width calc(50% - 8px)
      max-width calc(50% - 8px)
      p
        text-align left !important
        line-height 16px
        margin-bottom 0
  &-right
    &-date
      text-align left
      margin-bottom -4px
    &-container
      flex(column, nowrap)
      margin-bottom 16px
      background-color dark-mid
      border-left 8px solid main-mid
      outline 1px solid main-mid
      padding 12px 16px
      border-radius 4px
      &-inner
        p, li
          line-height 16px
          margin-bottom 6px
  &-last
    h3
      text-align center
      margin-bottom 0px
    p
      text-align center
      line-height 16px