doctype html
html(lang="en")
    head
        meta(name="robots", content="noindex, nofollow")
        link(rel="stylesheet", href="./stylus/alt.styl")
    body
        main
            .resume-top
                .resume-top-text
                    h1.extend-none Spencer “
                        include ./img/logo.svg
                        | ” Gunning
                    p.resume-sub multidisciplinary design · programming · computers
                img.resume-me(src="./img/me.png")
            .resume
                include ./includes/resume/lowiro.pug