doctype html
html(lang="en")
    head
        meta(name="robots", content="noindex, nofollow")
        link(rel="stylesheet", href="./stylus/alt.styl")
        script(type="module" src="./js/main.js")
    body
        main
            .resume-top
                .resume-top-text
                    h1.resume-h1 Spencer “CERiNG” Gunning
                    p.resume-sub multidisciplinary design · programming · computers
                    .resume-top-links#resume-links
            .resume#resume