extends ./templates/default.pug

block meta
    - const title = "about"
    - const desc = "All about Spencer \"CERiNG\" Gunning, a multidisciplinary designer and programmer specializing in UI/UX, graphics, and game design."

block content
    h1 about me
    
    p I’m #[b CERiNG] (short for #[b Spen#[u cer] Gunn#[u ing]]).
    p You may know me for my work in lowiro’s flagship rhythm game, #[a.link(href="games") #[i Arcaea]], my work in various forks of #[a.link(href="itg") #[span.tooltip #[i StepMania]#[span.tooltip-text open-source #[i Dance Dance Revolution]]]], or you stumbled across me in your journey across the Internet. Wherever you’re from, welcome!
    p If you’re on this page, there is a good chance I will be getting to know you and your vision over the coming weeks. There is a lot I can help you with, so while you’re here, allow me to introduce myself on a more personal level...
    
    h2 origins
    p I was born in 1997, growing up in the midst of a transforming world- one that was making a massive technological leap towards accessible personal computing. Having constant access to advancing hardware and the share-centric Web 2.0, laid strong foundations for my love of computers and multimedia. Specifically in the realm of the audiovisual, franchises like Wayne Lytle’s #[a.link.external(href="https://www.animusic.com/" target="_blank" rel="noopener") #[i Animusic]] and the open-source #[i StepMania] were and continue to be massive influences on my work and my identity.
    p I eventually began composing music at age 12, designing graphics at age 13, and later, video editing at age 15. Many of these disciplines overlapped naturally- I would often design graphics based on my (and others’) music, and my video edits featured graphics/overlays, many times synced to music (think #[span.tooltip FPS#[span.tooltip-text first-person shooter]] montages). I continued to sharpen my creative skills throughout high school, participating in extracurriculars such as the award-winning marching and jazz bands, whilst also creating vlogs alongside a massive photo archival project to document my teenage experience.
    
    h2 academia
    p Starting in September 2016, I first pursued a Computer Engineering at the #[b New Jersey Institute of Technology (NJIT)]. There, I was elected to the e-boards of the #[a.link.external(href="https://wjtb.njit.edu/" target="_blank" rel="noopener") WJTB Radio Station] and #[a.link.external(href="https://www.k2mff.club/" target="_blank" rel="noopener") K2MFF Amateur Radio Club].
    p At #[b WJTB Radio], along with hosting my very own radio show, I took on my first fully-independent webdev role, transforming the station’s website from a poorly-managed clump of WordPress into a streamline experience for end users.
    p Later, I eventually got an opportunity through #[b K2MFF] to research the effects of the 2017 American solar eclipse on radio. I began learning computer science and webdev fundamentals here- Python, Drupal, and PHP specifically. My assistance in analyzing observations from the eclipse were presented at the #[a.link.external(href="https://tapr.org/conferences-2/dcc/" target="_blank" rel="noopener") #[span.tooltip ARRL/TAPR DCC#[span.tooltip-text American Radio Relay League / Tucson Amateur Packet Radio Digital Communications Conference]]], later scoring my first publication in a #[a.link.external(href="https://doi.org/10.1029/2018GL077324" target="_blank" rel="noopener") research paper].
    
    h2 dreams
    p.comment #[i ]
    p As academia became heavy and dull, I took an extended break starting in Fall 2018, shifting my focus to complete a childhood dream- to direct and produce a #[span.tooltip Sight Reading Tournament#[span.tooltip-text a modded StepMania tournament in which players sight-read new content, typically accompanied by a story]], or SRT. Creators of these SRTs like #[a.link.external(href="https://www.youtube.com/@SecretaryEle" target="_blank" rel="noopener") Eleftheria] and #[a.link.external(href="https://www.youtube.com/@Taro4012ITG" target="_blank" rel="noopener") TaroNuke] had been a part of my niche entertainment since almost a decade prior.
    p In an unprecedented act, I learned to #[span.tooltip chart#[span.tooltip-text level design, specifically for rhythm games]] for #[i StepMania], managed a small team of voice actors, artists, and writers, and released my first attempt at making such levels as an SRT as someone with little-to-no social presence. This was the first time an unestablished creator had done anything of this magnitude, the impact of which has left a lasting impression on the community even years later.
    p In 2019, I directed and produced my second SRT- this time, collaborating with four newer creators to showcase their talent in the setting of a large-scale event. This got the attention of the game design team at #[b lowiro], and I was hand-picked to chart in a professional setting for the first time.
    //-My work has typically been met with critical acclaim in the rhythm game community at-large. 
        h2 computers
        p safe haven
        p rpl
        h2 now
        p sdjskh