doctype html
html(lang="en")
    head
        - const title = "design"
        - const desc = ""
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            div
                h1.h1.center design
                p.text.center coming soon
        include ./includes/footer.pug