doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylus/gate.styl")
        link(rel="shortcut icon", href="/img/favicon.svg", type="image/svg+xml")
        title in through the gate – cering.dev
    body.body
        h1.title in through the gate
        h2.sub 20 JULY 2021
        br
        p Congratulations, you made it to the end. You either really like puzzles or care enough about my work to find something behind the curtains. Or maybe you're Xero, lol.
        br
        p You have found something behind the curtains; however, I'm still writing this up. It will talk about Wavestep and some of the motivations I had behind making it.
        br
        p Thank you for your patience.
        hr
        .socials
            a.socials-link(href="https://twitter.com/asteradd" target="_blank")
                include /img/icons/twitter.svg
            a.socials-link(href="https://www.twitch.tv/cerhythm" target="_blank")
                include /img/icons/twitch.svg
            a.socials-link(href="https://www.youtube.com/cering" target="_blank")
                include /img/icons/youtube.svg
            a.socials-link(href="https://cering.bandcamp.com/" target="_blank")
                include /img/icons/bandcamp.svg
            a.socials-link(href="https://soundcloud.com/cerhythm" target="_blank")
                include /img/icons/soundcloud.svg
            a.socials-link(href="mailto:swcgunning+web@gmail.com" target="_blank")
                include /img/icons/mail.svg
        p.foot © 2021 Spencer "CERiNG" Gunning
