doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylus/main.styl")
        link(rel="shortcut icon", href="/img/favicon.svg", type="image/svg+xml")
        title ??? – cering.dev
    body.body
        main
            p.bold.desc Congratulations, you made it to the end.
            br
            p.desc You either really like puzzles or care enough about my work to find something behind the curtains.
            br
            p.desc I'm still writing this article, as it is based off of extremely recent events.
            br
            p.desc Thank you for your patience.
    // © 2021 Spencer "CERiNG" Gunning