doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylus/gate.styl")
        link(rel="shortcut icon", href="/img/favicon.svg", type="image/svg+xml")
        title in through the gate – cering.dev
    body.body
        h1.title in through the gate
        h2.sub 20 JULY 2021
        br
        p Congratulations, you made it to the end. You either really like puzzles or care enough about my work to find something behind the curtains. Or maybe you're Xero, lol.
        br
        p Yes, you have found something behind the curtains.
        br
        p I think it’s pretty clear that this file is supposed to come off as a little bit edgy, which is totally intentional. My absence from public spaces isn’t without reason- I haven’t been doing too hot, and I’ve considered disappearing entirely from the mods community in the last few weeks. I needed somewhere to vent my frustrations, even if it stung a little bit. Crazy how consistently, my best work is so charged with emotion... #[a.l_red(href="https://cering.bandcamp.com/track/no-reward" target="_blank") NO REWARD] stems from a lot of the same place and anxieties.
        br
        p I’m not going to really get into what or why I feel this way- it’s far too heavy, and some involved have requested to keep the information private as to not cause any Drama™ in the community. Even then, I am slowly healing and improving from the gutting experiences of this long year. There’s a lot you can discover about yourself when you introspect in a healthy way, not just for a day like you’re Hashtag Deep or something.
        hr
        p I discovered Blank Banshee my sophomore year of high school (2014), around the time vaporwave was starting to really kick off. Like most people I started off with #[a.l_purple(href="https://vektroid.bandcamp.com/track/420" target="_blank") Lisa Frank 420] and I vividly remember sightreading #[a.l_grey(href="https://blankbanshee.bandcamp.com/album/blank-banshee-1" target="_blank") Blank Banshee 1] in the car after finishing a date in a park in the dead of winter in December 2014. I grew up with stuff like Windows 98 and Big Malls for a good portion of my early conscious existence, so this sort of stuff, along with liminal spaces have always fascinated me.
        br
        p Once or twice during the year (usually around winter) I come across vaporwave again, and sort of reminisce in my past in doing so. This year I think I discovered a lot of cool neat stuff, it really got to the point where I even started making the blandest coffee in the mornings before work to Feel The Vapor™. #[a.l_yellow(href="https://groceries-store.bandcamp.com/album/yes-we-re-open" target="_blank") 슈퍼마켓Yes! We're Open] #[b (식료품groceries)] and #[a.l_blue(href="https://catsystemcorp.bandcamp.com/album/a-class-in-crypto-currency" target="_blank") A class in ​​.​​​.​​​. ​​CRYPTO CURRENCY] #[b (猫 シ Corp.)] were the standout bangers I found this year, I highly advise you take a listen to them, but I digress.
        br
        p Vaporwave; while something I seldom listen to actively, is a pretty big part of who I am. It always manages to stay constant through my years of change. Here’s a lore tidbit as an actual reward for completing the ARG- #[a.l_purple(href="https://twitter.com/vibrantrida/status/1414739859894280194" target="_blank") Sylvia], was meant to embody just that about me. She’s sort of this clumsy person who got fired from her job as an angel from “digital heaven”, and got stuck on Earth. Getting the chance to (agelessly) live through the 90s in America made her obsessed with the surrounding culture. She has a lot of cool adventures, but I don’t think I’m going to limit myself by telling them through mods (if at all).
        hr
        p Continuing with Wavestep, I remember watching #[a.l_blue(href="https://www.youtube.com/watch?v=V6jWxqZ2OrE" target="_blank") the music video] and getting pretty hooked on it. As You Can Probably Tell, I love references to biblical things, despite having being raised as and hating every moment of my young Catholic experience. Every bible verse from the music video is replicated, pretty much 1:1 in the file. There’s more too- the backgrounds are taken from gradients on BB albums like #[a.l_blue(href="https://blankbanshee.bandcamp.com/album/blank-banshee-0" target="_blank") Blank Banshee 0] and #[a.l_purple(href="https://blankbanshee.bandcamp.com/album/mega" target="_blank") MEGA], and you can also see BB’s logo during the “crash” screen where you decoded my message from. Of course, I added in my own flair with the lyrics and mods (and yes, the square mod gets turned on every time Cormorant sings “pushing squares”).
        br
        p A lot of the aesthetic I was aiming for, beyond “just vaporwave” I would describe as “the physical version of anachronism”. Are you playing this file on a television? A retro personal computer? Hmm...maybe it’s some sort of CRT screen, at least. It’s supposed to be left unknown and up in the air to the player. There’s no actual lore attached to this file (a rarity for CERiNG content), so think of something cool and epic.
        br
        p With that in mind, the entire design and implementation process was just a purely cathartic experience. I admittedly almost felt manic about how good it was turning out, especially figuring out how to code the ending and make it as hidden as possible. If you didn’t notice, everything gets pulled from a fake chart-to-lua file (see #[code lua/c2l/kicks.xml]). That being said, feeling so intensely emotional over the creation of this file led me to some thinking about what the hell I was doing. Did I only want to see people suffer through this puzzle because I thought it would be amusing, and because I was hurt by them?
        br
        p I don’t know.
        br
        p I can tell you it made me stop and think about what the hell I’m doing. I constantly got up and paced around out of excitement or exacerbation. It almost spent me entirely, doing so, I even skipped a day at work just to wrestle with myself. On top of that, my significant other and I were in the midst of a bit of a distancing period to help each other build independence, so I was forcibly alone to figure it out. Trust me when I say I’m not asking for your sympathy, reader, we all have to go through stuff like this to grow.
        hr
        p There are many “eras” I’ve come and gone through, much like as gates at an airport. There’s no real defining moment as to when you pass through them, but you start to get a sense of it a while after it has already happened. It could be making new friends, or cutting toxic folks off, learning something about yourself, really, anything that could be beneficial to your well-being and self-awareness, I think. Time and time again we look back at ourselves, thinking about how we acted, and how Cringe we were in a gate that we passed through 4 years ago or even 1 month ago.
        br
        p Why tell you this? I don’t know who you are. A devoted fan of my work maybe? My significant other? A stranger who happened to come across this? Why not let you discover this on your own?
        br
        p As I said, you will discover this on your own. You will grow in your own way. I don’t have any doubts that reading text from a content creator on the internet isn’t going to pivot your life into some golden era of realization. I had to be told something damning by three different people I hurt. Even now, I’m too ashamed to set foot in those communities again, but I grew from it, despite the bed of glass I rolled myself through. It fucking sucks, it really fucking sucks, but I believe life is equilibrium, things will get better even at your low points if you hold on.
        br
        p I’m almost 24 years old, and like most people, I honestly really know what I’m doing in terms of some Great Big Picture. I think that’s okay. Right now? I’m trying to get better with my communication skills, in saying “no” to people as well as being more up front with how I feel about my relationships with others. It’s hard!!...but I’m sure it’s worth it for myself to do it, like how anything should be.
        hr
        p If you’re this far into reading, wao! I appreciate that, and I appreciate you. I’m not sure what the point of this was but I kinda just wanted to Go Off, as they say. Maybe a little insight to why I made this (and so quickly) will give you your own nudge in a small way. And of course, if you want to talk more about things, life, death, taxes, shoot me a message on Discord or somethin’. I always say my DMs are “So Crowded!” but honestly I just find it hard to talk to the same 3 people who DM me every 5 seconds and aren’t my significant other, (oops?).
        br
        p Since you’re also #[span.epic the first person] to solve this shint (as intended), you should DM me anyways and tell me how awesome you are for solving this!!! You deserve a cookie, but like actually. I imagine this thing wasn’t That easy to solve. Come to a mods event and I’ll buy you a drink or get you a box of Insomnia Cookies, totally on me.
        br
        p Keep passing through those gates.
        br
        br
        p.sig With love,
        p.sig CERiNG
        br
        hr
        .socials
            a.socials-link(href="https://twitter.com/asteradd" target="_blank")
                include /img/icons/twitter.svg
            a.socials-link(href="https://www.twitch.tv/cerhythm" target="_blank")
                include /img/icons/twitch.svg
            a.socials-link(href="https://www.youtube.com/cering" target="_blank")
                include /img/icons/youtube.svg
            a.socials-link(href="https://cering.bandcamp.com/" target="_blank")
                include /img/icons/bandcamp.svg
            a.socials-link(href="https://soundcloud.com/cerhythm" target="_blank")
                include /img/icons/soundcloud.svg
            a.socials-link(href="mailto:swcgunning+web@gmail.com" target="_blank")
                include /img/icons/mail.svg
        p.foot © 2021 Spencer “CERiNG” Gunning