doctype html
html(lang="en")
    head
        - const title = "home"
        - const desc = "multidisciplinary design · programming · computers"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main
            h1.center welcome.
            p.center you're here early, but don't fret&mdash; #[br] there's much more in store.
        include ./includes/footer.pug