doctype html
html(lang="en")
    head
        - const title = "home"
        - const desc = "multidisciplinary design · programming · computers"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            .container
                h1.h1.hi.center hi, i'm 
                    include ./img/cering.svg
                    | .
                p.text--big-nobr.center i'm a multidisciplinary designer living and working in #[span.text--big-b new jersey].
                p.text.center i create websites, stories, interactive audiovisual experiences, games, and much more.
            .expo__left
                .expo__left--desc
                    h2.h2 web + graphic design
                    h2.subh2--right raritan public library
                    p.text--big.right i modernized and redesigned an antiquated brand image for the #[span.text--big-b Raritan Public Library].
                .expo__left--gfx
                    img(src="./img/expo/rpl.png")
            .expo__right
                .expo__right--desc
                    h2.h2 level design
                    h2.subh2 arcaea
                    p.text--big i design and test levels for #[span.text--big-b lowiro limited]'s flagship mobile rhythm game, #[span.text--big-bi Arcaea].
                .expo__right--gfx
                    img(src="./img/expo/arc.png")
            .expo__left
                .expo__left--desc
                    h2.h2 creative coding
                    h2.subh2--right notitg
                    p.text--big.right i create story-driven game content for an audience of thousands using #[span.text--big-b NotITG].
                .expo__left--gfx
                    img(src="./img/expo/nitg.png")
            .expo__right
                .expo__right--desc
                    h2.h2 graphic design
                    h2.subh2 design on commission
                    p.text--big i'm constantly working with other independent clients to produce original graphics, audio, and other forms of media.
                .expo__right--gfx
                    img(src="./img/expo/design.png")
            .container
            .container
                h2.h2.center want to work with me?
                p.text--big-nobr.center shoot me an email at #[span.text--big-b swcgunning@gmail.com].
                p.text.center i'd love to hear about what your project is all about!
            .container
                h3.h3.center not convinced?
                p.text.center check out my #[span.text--b interactive resume] for a full list of my experience and qualifications.
        include ./includes/footer.pug