doctype html
html(lang="en")
    head
        - const title = "home"
        - const desc = "multidisciplinary design · programming · computers"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.hi.h1.center hi, i'm 
                include ./img/logo.svg
                | .
            +showcase(
                "blue", "left", "./itg.pug", "home/njsrt.png",
                "A collage of assets used in and screenshots from the New Jersey Sight Reading Tournament",
                "i'm a multi- disciplinary designer from new jersey.",
                "NJSRT", "Project Lead")
            +showcase(
                "orange", "right", "./design.pug#webdev", "home/rpl.png",
                "Desktop and mobile-sized screenshots of the Raritan Public Library's website, with some promotional assets",
                "i develop quality websites & ui/ux, built just for your userbase.",
                "Raritan Public Library", "Webdev")
            +showcase(
                "pink", "left", "./design.pug#games", "home/arcaea.png",
                "In-game screenshots of Arcaea on the Nintendo Switch and a mobile phone",
                "i create playable experiences for audiences on a global scale.",
                "Arcaea", "Level Design")
            h2.h2.center and so much more.
            .minis-outer
                .minis-inner
                    +mini(
                        "green", "./design.pug#gfx", "home/gfx.png",
                        "Examples of graphic design work, including posters, digital art, and logos",
                        "Graphic Design")
                    +mini(
                        "red", "./music.pug", "home/music.png",
                        "A computer monitor showing FL Studio 20 alongside various album art",
                        "Music & Audio")
                    +mini(
                        "purple", "./about.pug", "home/resume.png",
                        `Resume of Spencer "CERiNG" Gunning`,
                        "Resume")
            .ready
                h2.h2.center ready to work?
                p.text.center i'd love to hear more about your project.
            .micros-outer
                .micros-inner
                    +micro("indigo", "mailto:swcgunning@gmail.com", "home/mail.png",
                    "A wave pattern and paper airplane vector graphic",
                    "Get in touch", "swcgunning@gmail.com")
        include ./includes/footer.pug