extends ./templates/default.pug

block meta
    - const title = "home"
    - const desc = "The official website of Spencer \"CERiNG\" Gunning- a multidisciplinary designer and programmer specializing in UI/UX, graphics, and game design."

block content
    h1.intro hi there!
    
    +showcase("right", "blue", "njsrt", "NJSRT", "Project Lead", "A collage of assets used in and screenshots from the New Jersey Sight Reading Tournament", "")
        span i’m CERiNG, a #[span.soft-blurple multidisciplinary designer] in new jersey
    
    +showcase("left", "sunset", "rpl", "Raritan Public Library", "Webdev + Visual Identity", "Desktop and mobile-sized screenshots of the Raritan Public Library’s website, with some promotional assets", "")
        span developing #[span.soft-orange high quality interfaces], built just for your userbase
    
    +showcase("right", "pink", "arc", "Arcaea", "Level Design", "In-game screenshots of Arcaea on the Nintendo Switch and a mobile phone", "")
        span crafting #[span.soft-purple playable experiences] for audiences on a global scale
    
    +showcase("left", "cyan", "gfx", "Commissioned Work", "Graphic Design", "", "")
        span and designing #[span.soft-sky striking visuals] for a vast range of clients.

    .container
        a.home-resume(href="mailto:hello@cering.dev")
            p.c2a got an idea?
            p.c2a-sub let's make something cool together.
            .c2a-icon: include ./img/c2a.svg
    .home-actions
        a.action(href="/about") more about me
        a.action(href="/resume") view my resume