doctype html
html(lang="en")
    head
        - const title = "home"
        - const desc = "multidisciplinary design · programming · computers"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            +card(
                "left", "blue", "./img/home/njsrt.png", "",
                "i'm a multi- disciplinary designer from new jersey.",
                "NJSRT", "Project Lead")
            +card(
                "right", "orange", "./img/home/rpl.png", "",
                "i develop quality websites & ui/ux, built just for your userbase.",
                "Raritan Public Library", "Webdev")
            +card(
                "left", "pink",  "./img/home/arcaea.png", "",
                "i create playable experiences for audiences on a global scale.",
                "Arcaea", "Level Design")
            h1.h1.center and so much more.
            .minis-outer
                .minis-inner
                    +mini("green", "Graphic Design")
                    +mini("red", "Music & Audio")
                    +mini("purple", "resume")
            .ready
                h1.h1.center ready to work?
                p.text.center i'd love to hear more about your project.
            .micros-outer
                .micros-inner
                    +micro("indigo", "Get in touch", "swcgunning@gmail.com")
        include ./includes/footer.pug