doctype html
html(lang="en")
    head
        - const title = "home"
        - const desc = "multidisciplinary design · programming · computers"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            +card(
                "left", "blue",
                "i'm a multi- disciplinary designer from new jersey.",
                "NJSRT", "Project Lead", "2018+")
            +card(
                "right", "orange",
                "i develop quality websites & ui/ux, built just for your userbase.",
                "Raritan Public Library", "Webdev", "2021")
            +card(
                "left", "pink",
                "i create playable experiences for audiences on a global scale.",
                "Arcaea", "Level Design", "2020+")
            h1.h1.center and so much more.
            .minis-outer
                .minis-inner
                    +mini("green", "Graphic Design")
                    +mini("red", "Music & Audio")
                    +mini("purple", "resume")
            h1.h1.center ready to work?
            .call-outer
                .call
                    p.call-top email me at
                    a.call-email(href="mailto:swcgunning@gmail.com") swcgunning@gmail.com
        include ./includes/footer.pug