doctype html
html(lang="en")
    head
        - const title = "music"
        - const desc = ""
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
        include ./includes/footer.pug