doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="refresh" content="0; docs/resume_gunning.pdf")
        link(rel="stylesheet", href="./stylus/main.styl")
        link(rel="shortcut icon", href="./img/favicon.svg", type="image/svg+xml")
        title resume – cering.dev
    body.body