extends ./templates/default.pug

block meta
    - const title = "resume"
    - const desc = "The detailed resume of Spencer \"CERiNG\" Gunning, a multidisciplinary designer and programmer specializing in UI/UX, graphics, and game design."
    title resume – cering.dev

block content
    .resume-top
        .resume-top-text
            h1.extend-none Spencer “
                include ./img/logo.svg
                | ” Gunning
            p.resume-sub multidisciplinary design · programming · computers
            .resume-top-links#resume-links
        img.resume-me(src="./img/me.png")
    .resume#resume