doctype html
html(lang="en")
    head
        - noindex = true
        - const title = "resume"
        - const desc = "cering's resume"
        include ./includes/_head.pug
        meta(http-equiv="refresh" content="0; docs/resume_gunning.pdf")
    body.body