extends ./templates/default.pug

block meta
    - const title = "commission tos"
    - const desc = "terms of service for purchasing commissions from CERiNG"
    title commission tos – cering.dev

block content
    h1.extend-none commission terms of service
    p.extend-none #[b updated 21 december 2023]
    p.comment-small #[i terms of service are subject to change at any time and for any reason]
    h2 general
    p #[span.num 01] The reselling of any part of my work is strictly prohibited, #[b ESPECIALLY] in crypto, NFT, and blockchain environments.
    p #[span.num 02] Nothing hateful or blatantly bigoted- I have the right to decline a commission or scrub anything for any reason.
    p #[span.num 03] If you replace and/or modify assets included in a commission with anything hateful or otherwise offensive, I hold the right to remove any traces of you or the involved party from the original product.
    h2 pricing/payment
    p #[span.num 01] Prices listed on the #[a.link-purple(href="./img/comms24.webp" target="_blank" rel="noopener") commission sheet] are base prices. I will let you know of any price increases as soon as I can, which may happen later down the line depending on the number of hours I've worked.
    p #[span.num 02] Full payment upfront is very appriciated. If this isn't possible, I will also accept half of the base price paid upfront and the other half + any extras before I send you a full version of the commission. If this also does not work for you, we can discuss other options, such as being put on a commission waitlist until you can get the money for payment.
    p #[span.num 03] My preferred method of payment is through PayPal. Please let me know if you need me to accommodate another method!
    hr
    p.center #[b By commissioning me, you have read and agree to the terms listed above.]