doctype html
html(lang="en")
    head
        - noindex = false
        - const title = "commission tos"
        - const desc = "terms of service for purchasing commissions from CERiNG"
        include ./includes/_head.pug
        title commission tos – cering.dev
    body.body
        include ./includes/header.pug
        .main
            h1.h1-alt commission terms of service
            p.bold updated 21 december 2023
            .comment-br terms of service are subject to change at any time and for any reason
            h2.h2 general
            .text-br #[span.num  ] The reselling of any part of my work is strictly prohibited, #[span.bold ESPECIALLY] in crypto, NFT, and blockchain environments.
            .text-br #[span.num  ] Nothing hateful or blatantly bigoted- I have the right to decline a commission or scrub anything for any reason.
            .text-br #[span.num  ] If you replace and/or modify assets included in a commission with anything hateful or otherwise offensive, I hold the right to remove any traces of you or the involved party from the original product.
            h2.h2 pricing/payment
            .text-br #[span.num  ] Prices listed on the #[a.gate-link-purple(href="./img/comms24.webp" target="_blank" rel="noopener") commission sheet] are base prices. I will let you know of any price increases as soon as I can, which may happen later down the line depending on the number of hours I've worked.
            .text-br #[span.num  ] Full payment upfront is very appriciated. If this isn't possible, I will also accept half of the base price paid upfront and the other half + any extras before I send you a full version of the commission. If this also does not work for you, we can discuss other options, such as being put on a commission waitlist until you can get the money for payment.
            .text-br #[span.num  ] My preferred method of payment is through PayPal. Please let me know if you need me to accommodate another method!
            br
            hr.gate-hr
            br
            .bold.center By commissioning me, you have read and agree to the terms listed above.
        include ./includes/footer.pug