div
  .bg-streams
    img.bg-streams-obj3(src="./img/bgs/streams/towers.webp" type="image/webp")
    img.bg-streams-obj4(src="./img/bgs/streams/ceri.webp" type="image/webp")
    .bg-streams-obj2: include ../../img/bgs/streams/greeble.svg
    .bg-streams-obj1: include ../../img/bgs/streams/arrow.svg
  .bg-streams-overlay